@use "../../scss" as *;

button {
    cursor: pointer;
}

.btn {
    border: 2px solid transparent;
    background-color: $main-color;
    color: $white;
    border-radius: 92px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow 0.3s ease;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 7px 15px #ff00004d;
    }

    &.small {
        font-size: 1rem;
        border-width: 1px;
        @include mobile {
            padding: 5px 10px;
            font-size: 1rem;
        }
    }

    @include tablet {
        padding: 8px 16px;
    }

    @include mobile {
        font-size: 1.2rem;
    }
}

.btn--outline {
    border: 2px solid $white;
    background-color: transparent;
    color: $white;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        // box-shadow: unset;
        color: $main-color;
        background-color: $white;
    }
}
